[user]
	name = David Bankes
	email = davidbankes@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	safecrlf = false
	whitespace = -blank-at-eol,-space-before-tab,-blank-at-eof,-cr-at-eol
	excludesfile = ~/.gitignore_global
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[push]
	default = simple
[apply]
	whitespace = fix
	ignorewhitespace = change
